<div class="navBar" id="profileNav">
    <ul class="p-md-4 d-flex nav justify-content-md-start overflow-hidden">
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Profile" asp-action="Index">Min profil</a>
        </li>                
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="MyRecipes">Mine oppskrifter</a>
        </li>                
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">Tilbakemeldinger</a>
        </li>                
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Recipes" asp-action="Create">Ny oppskrift</a>
        </li>
    </ul>
</div>