@model IEnumerable<Recipe>


<h2>Søketreff:</h2>
<ul>
    
    @foreach (var r in Model)
    {
        <li><a href="https://localhost:5001/Recipes/Details/@r.Id">@r.Title</a> <br>
        @r.Image <img src =@r.Image alt="Matbilde"><br>
            @r.ApplicationUser</li>  
    }
    
</ul>