@model smartmat.Models.UserRecipes

<h2>Søketreff:</h2>
<ul>
    
    @foreach (var r in Model.Recipes)
    {

        <li><a href="https://localhost:5001/Recipes/Details/@r.Id">
            @r.Title <br>
             <img src=@r.ImagePath alt="Matbilde" width="200" height="100"><br>


            @if (r.UserId == r.ApplicationUser.Id)
            {
                // This will add pre-existing fields in the Applications users table that relates to recipe
                @r.ApplicationUser.UserName
            }
        </a></li> 

    }

</ul>