@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid">
    <form asp-action="Index" method="post">
            <div class="navBar">
                <ul class="p-4 d-flex nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">MEST POPULÆRT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SPIS SUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">RASK MAT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FROKOST</a>
                    </li>                
                    <li class="nav-item">
                        <a class="nav-link" href="#">LUNSJ</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">MIDDAG</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">KVELDSMAT</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">GLUTENFRI</a>
                    </li>
                </ul> 
            </div>
    </form>
</div>
