@model RecipeUserViewModel

@{
    ViewBag.Title = "Favorites";
    Layout = "_Layout";
}

<partial name="_ProfilePartial" xmlns="http://www.w3.org/1999/html"/>

<div class="mainDiv container bg-light shadow-lg rounded overflow-hidden">

        <h2 class="standaloneHeader font-weight-bold">Mine Favoritter</h2>

        @if (!Model.Recipes.Any())
        {
            <h5 class="text-lg-center" style="color:gray;">Du har ingen favoritter ennå</h5><br>
            <a asp-area="" asp-controller="Recipes" asp-action="Index" class="allRecipes btn btn-dark">Finn oppskrifter</a>
        }
            <partial name="_RecipePartial" model="Model"/>
</div>