@model RecipeUserViewModel

@{
    ViewBag.Title = "Mine Oppskrifter";
    Layout = "_Layout";
}
<style>
    #search-partial, ul {
       padding: 0;
    }
</style>

<partial name="_ProfilePartial" xmlns="http://www.w3.org/1999/html"/>

<h1 class="standaloneHeader font-weight-bold">Mine Oppskrifter</h1>
    
@if (!Model.Recipes.Any())
{
    <p>Du har ingen oppskrifter enda.</p><br>
    <a asp-area="" asp-controller="Recipes" asp-action="Create">Lag din første oppskrift</a>
}

<partial name="_RecipePartial" model="Model"/>
