@model RecipeUserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    /*   SEARCH BOX    */
    #title {
      font-weight: 700;
    }
    #background {
      position: absolute;
      right: 0;
      height: 70vh;
      z-index: -100;
      filter: blur(1px) brightness(107%);
    }
    #flex-container {
      min-height: 75vh;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    
    #search-container{
      max-width: 30em;
      flex: 0 0;
    }
    #searchbox {
      background-color: white;
      border-radius: 2em;
      padding: 0.5em;
      box-shadow: 2px 2px 4px 1px #00000030;
    }
    #searchbox input {
      border: none;
      border-radius: 2em;
    }
    #searchbox button {
      border: none;
      border-radius: 2em;
      padding: 0.4em 2em !important;
      margin: 0;
    }
    
    h3 {
        font-weight: 600;
    }
</style>
<partial name="_MealNavPartial" />

<img src="~/siteimages/background.jpg" alt="bakgrunnsbilde av mat" id="background">
<div id="flex-container">
    <div class="fillerdiv"></div>
    <div class="text-left" id="search-container">
        <h1 class="display-6" id="title">Oppdag og del oppskrifter basert på det du har i kjøleskapet</h1>
        <p>Bli inspirert til å spise opp matrester.</p>
        
        <form id = "search-form">
            <div id="searchbox" class="input-group mb-3">
                <input type="search" id = "search-text" class="form-control" placeholder="eks. brokkoli, egg, melk, potet"/>
            </div>
        </form>
        
    </div>

    <div id="recipe-results"></div>
    
    @section Scripts
    {
        <script>
            async function search(){
                let search = $("#search-text").val();
                if (search.length > 1){
                    let result = await fetch("/Home/Recipes?search=" + search);
                    //document.getElementById("recipe-results").innerHTML = await result.text();
                    $("#recipe-results").html(await result.text());
                }
                else {
                    $("#recipe-results").html("");
                }
            }
            document.getElementById('search-form').onkeyup = search;
            document.getElementById('search-form').onsubmit = function (event){
                event.preventDefault();
                search();
            };
        </script>
    }
    <div class="fillerdiv"></div>
</div>


<div id="popular-recipes">
    <h3>Populære oppskrifter</h3>
    <div class="horizontal-scroll">
        @foreach (var recipe in Model.Recipes)
        {
            <a class="card rounded" asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">
                <h5 class="card-title">@recipe.Title</h5>
                <div class="imgcontainer card-img-middle"><img src="~/recipeimages/@(recipe.Id).jpg"></div>
                <p class="cardIntrotext">@recipe.Introduction</p>
                @if (recipe.Reviews != null)
                {
                    var avg = Math.Round(recipe.Reviews.Average(r => r.Stars)/0.5)*0.5;
                    var rest = avg % 1;
                    var half = rest > 0;
                    @for (var i = 0; i < avg-rest; i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                    @if (half)
                    {
                        <span class="fa fa-star-half-o"></span>
                    }
                    @for (var i = Math.Round(avg); i < 5; i++)
                    {
                        <span class="fa fa-star-o"></span>
                    }
                }
                @if (recipe.ApplicationUser != null)
                {
                    <div class="card-author-box"><img src="~/userimages/@(recipe.UserId).png">
                        <p>Av @recipe.ApplicationUser.UserName</p>
                    </div>
                }
            </a>    
        }
    </div>
</div>