@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
#checkboxes{
    transform: translateX(80%);
    margin-top: -35px;
    font-weight: bold;
    font-size: 15px;
}

</style>

<partial name="_MealNavPartial" />

<h2>Her finner du alle lunsj oppskriftene</h2>

<div id="checkboxes">
    <div class="form-check" id="vegCheck">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Vegetarmat
        </label>
    </div>
    <div class="form-check" id="glutCheck">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
            Glutenfri
        </label>
    </div>
</div>

<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Til hjemsiden</a>
