#mealNav{
    display: inline-flex;
    width: 100%;
}

#mealNav li a{
    color: white;
    text-space: 8px;
    padding-inline: 27px;
}

#mealNav li a:hover{
    color: orange;
}

#profileNav li a{
    color: #1d2124;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

#profileNav li a:hover{
    border-bottom: 2px solid sandybrown;
}

#imgUpload
{
    display: none;
}

#profileImg
{
    cursor: pointer;
}

#profile-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#profile-container img {
    width: 250px;
    height: 250px;
}

.profileHead{
    font-weight: bold;
    margin-top: -200px;
    margin-bottom: 100%;
    margin-left: 30%;
}

#personal-data{
    border-bottom: 2px solid lightgray;
}

#inputForm{
    font-weight: normal;
    color: dimgray;
    margin-top: 20px;
}

#userInfo{
    flex-wrap: wrap;
    padding-bottom: 160px;
    height: 200px;
}

#inputForm button{
    transform: translateX(39em);
    margin: 8px;
}

#standaloneHeader {
    margin: 1em;
}