#flex-container{
    margin: 3em 0 0 0;
}

#recipe-results{
    max-width: 40em;
    margin-bottom: 2em;
}

#search-partial ul {
    margin-bottom: 3em;
}

#search-partial ul li{
    list-style-type: none;
    display: inline-flex;
    text-align: center;
    margin: 15px 10px 0 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform .1s;
}

#search-partial li a{
    font-size: 17px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-bottom: 3px solid transparent;
}

#search-partial img{
    width: 250px;
    height: 150px;
    margin: 8px 0 10px 0;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

#search-partial a:hover{
    border-color: darkorange;
}

#search-partial li:hover{
    transform: scale(0.8);
    opacity: 0.5;
}

.timeBubble {
    display: inline-block;
    color: white;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 1.1em;
    text-anchor: middle;
    box-shadow: 3px 3px 5px -5px black;
    border: 1px solid #00000020;
    transform: translateY(1em);
    text-align: center;
}
.timeBubble span {
    margin: 0; padding: 0;
    display: inline-block;
}
.timeBubble .min {
    transform: translateY(-1.4em);
    font-size: 0.6em;
}
.orangeBubble {
    background-color: #f7931d;
}
.blueBubble {
    background-color: #1aa5aa;
}

.resultRow {
    position:relative;
}
.attachedBubble {
    position: absolute;
    right: 0.8em;
    bottom: 4em;
}
.bigBubble {
    bottom: 7em;
    right: 1em;
    font-size: 1.2em;
}