/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  --primary: #FFB84F;
  --globalBackground: white;
  --globalColor: black;
}

body {
  background-color: #fdfdff;
  margin-bottom: 0;
}
#main {
  display: flex; 
  flex-direction: column; 
  min-height: 64vh;
}

.fillerdiv {
  flex: 1 1;
}

.form-check-input {
  margin: 1em 0.6em !important;
}


/*    NAV-BAR     */
#navBar {
  z-index: 10;
}
#logo_glasses {
  background-image: url("../siteimages/glasses.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  transition: transform 500ms;
  animation-duration: 600ms;
}
#logo_glasses_container {
  position: absolute;
  top: -0.1em;
  height: 1em;
  width: 2em;
  z-index: 1;
  transition: transform 500ms;
  animation-duration: 600ms;
}
#logo_burger {
  position: absolute;
  background-image: url("../siteimages/burger.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  height: 2em;
  width: 2em;
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}
.logo {
  position: relative;
  display: inline;
  height: 2em;
  margin: 0 1em 0 0;
}
#nav_logo {
  margin: 0.4em 3em 0.4em 0;
  width: 2em;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-weight: 600;
  margin: 0.5em 0;
}


/* Nav-bar Search */
#navSearchBar {
  display: inline-block;
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0 1em;
  cursor: pointer;
  padding: 0.5em;
  overflow: hidden;
  border-radius: 1em;
  transition: width 200ms;
}
#navSearchInput, #navSearchBar i {
  position: absolute;
  display: inline-block;
  top: 0; left: 0;
}
#navSearchInput{
  width: 100%;
  height: 100%;
  transition: opacity 200ms;
  border: 1px solid gray;
  border-radius: 1em;
  padding: 0 2em 0 1em;
  opacity: 0;
}
#navSearchBar i {
  left: unset;
  right: 0.5em;
  padding: 0.5em;
}

#navSearchResultContainer {
  display: none;
  opacity: 0;
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translate(-50%, -4em);
  width: 40em;
  max-width: 100%;
  z-index: 2;
  transition: opacity 200ms, transform 250ms;
  background-color: var(--globalBackground);
  border: 1px solid rgba(128, 128, 128, 0.47);
  border-radius: 0 0 1em 1em;
  padding: 3em 1em 1em;
  box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, 0.4);
}
#navSearchLukk {
  margin: 0 2em 1em auto;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5em 1em;
  border-radius: 1em;
  width: max-content;
}
#navSearchLukk:hover{
  background-color: rgba(128, 128, 128, 0.14);
}

.allRecipesLink{
  border-radius: 1em;
  max-width: 15%;
  transition-property: transform;
  transition-duration: 100ms;
}

.allRecipesLink:hover{
  transform: scale(1.1);
}

/*.allRecipesLink {
  margin: 0 auto;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 1em;
  width: max-content;
  display: block;
  color: var(--globalColor);
  text-decoration: underline gray;
}
.allRecipesLink:hover {
  text-decoration: underline black;
}*/


/*  CARDS  */
.horizontal-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}
.card {
  width: 24em;
  padding: 2em;
  color: black;
  display: inline-block;
  white-space: normal;
  margin: 1em 2em 1em 0;
}
.card-title {
  font-weight: 600;
}
.card .imgcontainer {
  height: 16em;
  overflow: hidden;
  position: relative;
  margin: 1em 0;
}
.card .imgcontainer img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.card-author-box {
  height: 2em;
  font-size: 0.8em;
}
.card-author-box img {
  height: 100%;
  border-radius: 50%;
}
.card-author-box p {
  display: inline;
  margin: 0 0 0 1em;
}


/* GENERAL */
.standaloneHeader {
  margin: 1em;
  text-align: center;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #FFB84F;
  border-color: #1861ac;
  border-width: 0;
  border-radius: 2em;
  padding: 0.5em 1em !important;
  margin: 0 0.5em;
  transition: transform 200ms;
}

.btn-primary:hover, .nav-pills .nav-link.active, .nav-pills .show > .nav-link {  
  transform: scale(1.1);
  color: #fff !important;
  background-color: var(--primary) !important;
}

.centeredButton {
  display: block;
  margin: 0 auto 1em;
  padding: 0.5em 1em;
  border: 1px solid #00000050;
  border-radius: 15px;
  width: max-content;
  color:  black;
  background-color: transparent;
  transition: background-color 200ms, color 200ms;
}
.centeredButton:hover {
  background-color: #f7931d;
  color: white;
}

@keyframes zoom {
  0% {transform: scale(1) translate(-50%, -50%);}
  20% {transform: scale(1.5) translate(-50%, -50%);}
  80% {transform: scale(1.5) translate(-50%, -50%);}
  100% {transform: scale(1) translate(-50%, -50%);}
}

/*  Dark Mode  */
.darkMode {
  background-color: black!important;
  color: white!important;
}
.darkModeText {
  color: white!important;
}
.darkModeBorder {
  color: white!important;
  background-color: #151515 !important;
  border: 1px solid #ffffffa0;
}
#darkModeSelector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.5em;
  height: 1.5em;
  background: #ddd;
  border: 1px solid white;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  margin: 0 1em;
  transform: translateY(0.5em);
}

#darkModeSelector:checked{
  background: #000000a0;
}

#darkModeSelector:after{
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
  box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
  transform: scale(.7);
  left: 0;
}

#darkModeSelector:checked:after{
  left: calc(100% - 1.5em);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  margin: 5em 0 1em 0;
}
.footer a:not(.nav_logo) {
  color: black;
}
