@model RecipeUserViewModel

@{
    var user = Model.Users.FirstOrDefault();
    System.Diagnostics.Debug.Assert(user != null, nameof(user) + " != null");
    ViewBag.Title = user.UserName;
    Layout = "_Layout";
}

<h1 class="standaloneHeader">Oppskrifter av @user</h1>
<partial name="_RecipePartial" model="Model"/>