@model smartmat.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<div class="mainDiv container-fluid bg-light shadow rounded">
    <h1 id="standaloneHeader" class="font-weight-bold">Ny Oppskrift</h1>
    <hr />
    <form asp-action="Create">
        <div class="px-4 pt-0 pb-4 cover" id="inputForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Introduction" class="control-label"></label>
                <input asp-for="Introduction" class="form-control"/>
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <textarea asp-for="Ingredients" class="form-control"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" name="Category" id="Category">
                    <option value="Frokost">Frokost</option>
                    <option value="Middag" selected>Middag</option>
                    <option value="Lunsj">Lunsj</option>
                    <option value="Dessert">Dessert</option>
                    <option value="null">Annet</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
           <div class="form-check form-check-inline">
                <label asp-for="Glutenfree" class="control-label"></label>
                <input asp-for="Glutenfree" class="form-check-input"/>
                <span asp-validation-for="Glutenfree" class="text-danger"></span>
            </div>
           <div class="form-check form-check-inline">
                <label asp-for="Vegetarian" class="control-label"></label>
                <input asp-for="Vegetarian" class="form-check-input"/>
                <span asp-validation-for="Vegetarian" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Nutrients" class="control-label"></label>
                <input asp-for="Nutrients" class="form-control"/>
                <span asp-validation-for="Nutrients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <textarea asp-for="Instructions" class="form-control"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visibility" class="control-label"></label>
                <select asp-for="Visibility" name="visibility" id="visibility">
                    <option value="public" selected>Offentlig</option>
                    <option value="private">Privat</option>
                </select>
                <span asp-validation-for="Visibility" class="text-danger"></span>
                <br><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
