@model smartmat.Models.Recipe

@{
    ViewData["Title"] = "Create";
}


<partial name="_ProfilePartial" xmlns="http://www.w3.org/1999/html"/>

<div class="mainDiv container-fluid bg-light shadow rounded">
    <h1 id="standaloneHeader" class="font-weight-bold">Ny Oppskrift</h1>
    <form asp-action="Create">
        <div class="px-4 pt-0 pb-4 cover" id="inputForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Introduction" class="control-label"></label>
                <input asp-for="Introduction" class="form-control"/>
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <textarea asp-for="Ingredients" class="form-control"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrients" class="control-label"></label>
                <input asp-for="Nutrients" class="form-control"/>
                <span asp-validation-for="Nutrients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <textarea asp-for="Instructions" class="form-control"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Visibility" name="visibility" id="visibility">
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                </select>
                <span asp-validation-for="Visibility" class="text-danger"></span>
                <br><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
