@{
    ViewBag.Title = "Ingen adgang";
    Layout = "_Layout";
}

<h1 class="text-lg-center text-info">Ingen Adgang</h1>
<h5 class="text-lg-center" style="color: lightgray;">Du har ikke tilgang til denne siden.</h5>

